<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST">
        <div>
            <label>Date</label>
            <input type="datetime-local" name="dateTime" />
        </div>
        <div>
            <label>Food Name</label>
            <input type="text" name="foodName" />
        </div>
        <div>
            <label>Calories</label>
            <input type="number" name="calories" />
        </div>
        <div>
            <label>Meal:</label>
            <input type="radio" name="meal" value="breakfast" />
            <label>Breakfast</label>

            <input type="radio" name="meal" value="lunch" />
            <label>Lunch</label>

            <input type="radio" name="meal" value="dinner" />
            <label>Dinner</label>

            <input type="radio" name="meal" value="snack" />
            <label>Snack</label>
        </div>
        <div>
            <label>Tags</label>
            <input type="checkbox" name="tags[]" value="vegan" />
            <label>Vegan</label>
            <input type="checkbox" name="tags[]" value="vegetarian" />
            <label>Vegetarian</label>
            <input type="checkbox" name="tags[]" value="glutten-free"/>
            <label>Gluten-Free</label>
            <input type="checkbox" name="tags[]" value="low-carb"/>
            <label>Low Carb</label>
            <input type="checkbox" name="tags[]" value="low-fat"/>
            <label>Low Fat</label>
        </div>
        <div>
            <input type="number" name="servingSize"/>
            <label>Unit</label>
            <select name="unit">
                <option value="serving">Serving</option>
                <option value="gram">Gram</option>
                <option value="ounce">Ounce</option>
                <option value="pound">Pound</option>
            </select>
        </div>
        <input type="submit" value="Create Food Entry" />
    </form>
</body>

</html>