<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Editing <%= foodEntry.foodName %></h1>
    <form method="POST">
        <%- include("food_entry_form", {
            foodEntry, relatedTags, tags
        }) %>
        <input type="submit" value="Edit Food Entry" />
    </form>
</body>

</html>